@* Pages/Components/LogTerminalComponent.razor *@
@using SelectLineWAWIApi.Services.Logging
@inject LogService LogService

<div class="log-terminal">
    <div class="logs">
        @foreach (var log in LogService.Logs)
        {
            <div class="text-white">[@log.Timestamp] <span class="@GetLogClass(log.LogLevel)">[@log.LogLevel]</span> @log.Message</div>
        }
    </div>
</div>

<style>
    .log-box {
        padding: 10px;
        border: 1px solid #ccc;
        max-height: 200px;
        overflow-y: auto;
    }

    .logs p {
        margin: 0;
        font-family: monospace;
    }
</style>

@code {
    protected override void OnInitialized()
    {
        LogService.AddLog(LogLevel.Info, "Initialized LogTerminal");
    }

    private string GetLogClass(LogLevel level)
    {
        return level switch
        {
            LogLevel.Info => "text-primary",
            LogLevel.Warning => "text-warning",
            LogLevel.Error => "text-danger",
            _ => string.Empty,
        };
    }
}
